<div class="jumbotron">
  <h1 class="text-center" id="main-title"><%= t('find_friends.title') %></h1>
  <div id="pod-search-div">
    <%= form_tag searchfriends_path,remote: true, method: :get, id: "podcast-lookup-form" do%>
    <div class="form-group row no-padding text-center col-md-12">
      <div class="col-md-10">
        <%= text_field_tag :friend_search_query, params[:friend_search_query], placeholder: t('find_friends.enter_friend_name'), autofocus: true, class: "form-control search-box input-lg"%>
      </div>

      <div class="col-md-2">
        <%= button_tag(type: :submit, class: "btn btn-lg btn-success" ) do %>
        <i class="fa fa-search"></i>
        <%= t('find_friends.title') %>
      <%end%>

    </div>
  </div>

<% end %>
</div>

</div>

<div id="results"></div>
