<div id="find-friends-main">
  <%# Validation is provided to the results of the friends search if and only if the
  user search request is valid is the user presented with results, otherwise the user is
  presented with an error that indicates that associated error. %>
  <% if(@search) %>
    <% if(@search.entries.size>0) %>

      <% @search.entries.size.times do |searchIndex| %>
        <div id="found-friends">

          <%= link_to user_profile_path(id:@search[searchIndex]["id"]), method: :get, remote: true do %>
          <% if @search[searchIndex].avatar.attached? %>
            <%= image_tag @search[searchIndex].avatar%>
          <%else%>
            <%= image_tag "profile.png"%>
          <%end%>
        <% end %>

        <h2 class="text-center"><%= @search[searchIndex]["first_name"][0].upcase+@search[searchIndex]["first_name"][1,@search[searchIndex]["first_name"].size].downcase+"
          "+@search[searchIndex]["last_name"][0].upcase+@search[searchIndex]["last_name"][1,@search[searchIndex]["last_name"].size].downcase %></h2>
      </div>

    <% end %>
  <% else %>
    <h3 class="text-center"><%= t('friends_result.no_accounts') %></h3>

  <% end %>
<% else %>
  <h3 class="text-center"><%= t('friends_result.no_accounts') %></h3>
<%end %>

</div>
