<!-- Home has 2 associated views, this being due to 2 requests being able to be made
one being an AJAX reuqest and other being a normal rails request, and thus an associated
view are found in the podcastapp folder. This needs to be done to ensure the functionality of
the application to be functioning from within a single page. -->


<div class="container well overall-home-styling">
  <h1 id="main-title" class="text-center"><%= t('home.title') %></h1>
  <br/>
  <div class="homepage-outer-flex">
    <div style="flex:2">
      <h2 id="home-episode-title" class="text-center"><%= t('home.sub_title') %></h2>
      <div class="flex-container-homepage" style="flex:2;">
        <%# A given users associated podcasts are presented to the user, if said
        podcasts exist otherwise an associated error is presented to the user. %>
        <% if(@userPodcasts.size >0)%>
          <% @userPodcasts.size.times do |podIndex| %>
            <div class="flex-container-homepage-item ">
              <%# The option is given to the user to click on the given podcast, and be presented with
              the assocaited podcast item. %>
              <%= link_to podcast_path(:itunes_id => @userPodcasts[podIndex]["itunes_id"]),class:"loading-available-button", remote: true do %>
              <%= image_tag(@userPodcasts[podIndex]["image_url"], {:class => "home-container-image"}) %>
            <% end %>
          </div>
        <%end%>
      <%else %>
        <div class="flex-container-homepage-item ">
          <h4><%= t('home.no_podcasts_error') %></h4>
        </div>
      <% end %>

    </div>

  </div>
  <div style="flex:1;background-color:grey;">
    <h2 id="home-episode-title" class="text-center"><%= t('home.trending') %></h2>
    <div class="top-podcasts-style">
      <div style="flex:1;padding-right:16px;">
        <%# The top most podcast's are presented to the user, if and only if the there has been
        no error in generating the top podcasts list, if so, an assocaited error is presented
        to the user. %>
        <% if(@topPodcasts.size >0) %>
          <% @topPodcasts.size.times do |podIndex| %>

            <div id="trending-overall-tile">
              <div style="flex:1;padding-top:20px;">
                <h3 style="padding-left:4px;" id="marquee-text"><%= podIndex+1 %>)</h3>

              </div>

              <div style="flex:3;width:70px;line-height:80px;">

                <%= link_to podcast_path(:itunes_id => @topPodcasts[podIndex]["id"]), remote: true do %>
                <%= image_tag(@topPodcasts[podIndex]["artworkUrl100"], {:class => "trending-podcast-image loading-available-button"}) %>
              <% end %>

            </div>
            <div style="flex:6;padding-top:33px;">
              <p class="marquee">
                <!-- Marquee text is presented to the user through means of CSS, which allows hte user to ahve a better overal user
                experiance reagarding the podcasts. -->
                <span id="marquee-text">

                  <%= link_to @topPodcasts[podIndex]["name"], podcast_path(:itunes_id => @topPodcasts[podIndex]["id"]), { id: 'marquee-text'} %>
                </span>
              </p>

            </div>

          </div>
          <br/>

        <% end %>
      <% else %>
        <div class="flex-container-homepage-item ">
          <h4><%= t('home.top_podcasts_error') %></h4>
        </div>
      <% end %>

    </div>
  </div>
</div>

</div>
</div>

<br/><br/><br/><br/><br/><br/><br/>
