<div class="container well overall-home-styling">
  <h1 id="podcast-home-title" class="text-center">Homepage</h1>
  <br/>
  <div class="homepage-outer-flex">
    <div style="flex:2">
      <h2 id="home-episode-title" class="text-center">Your Podcasts</h2>
      <div class="flex-container-homepage" style="flex:2;">
        <% if(@userPodcasts.size >0)%>
          <% @userPodcasts.size.times do |podIndex| %>
            <div class="flex-container-homepage-item ">

              <%= link_to podcast_path(:itunes_id => @userPodcasts[podIndex]["itunes_id"]) do %>
              <%= image_tag(@userPodcasts[podIndex]["image_url"], {:class => "home-container-image"}) %>
            <% end %>
          </div>
        <%end%>
      <%else %>
        <div class="flex-container-homepage-item ">
          <h4>It looks like you havent subscribed to any podcasts, try searching for them.</h4>
        </div>
      <% end %>

    </div>

  </div>
  <div style="flex:1;background-color:grey;">
    <h2 id="home-episode-title" class="text-center">Trending podcasts</h2>
    <div class="top-podcasts-style">
      <div style="flex:1;padding-right:16px;">

        <% if(@topPodcasts.size >0) %>
          <% @topPodcasts.size.times do |podIndex| %>

            <div id="trending-overall-tile">
              <div style="flex:1;padding-top:20px;">
                <h3 style="padding-left:4px;" id="marquee-text"><%= podIndex+1 %>)</h3>

              </div>

              <div style="flex:3;width:70px;line-height:80px;">

                <%= link_to podcast_path(:itunes_id => @topPodcasts[podIndex]["id"]) do %>
                <%= image_tag(@topPodcasts[podIndex]["artworkUrl100"], {:class => "trending-podcast-image"}) %>
              <% end %>

            </div>
            <div style="flex:6;padding-top:33px;">
              <p class="marquee">
                <span id="marquee-text">

                  <%= link_to @topPodcasts[podIndex]["name"], podcast_path(:itunes_id => @topPodcasts[podIndex]["id"]), { id: 'marquee-text'} %>
                </span>
              </p>

            </div>

          </div>
          <br/>

        <% end %>
      <% else %>
        <div class="flex-container-homepage-item ">
          <h4>There was an error getting the top podcasts:( try reloading</h4>
        </div>
      <% end %>

    </div>
  </div>
</div>

</div>
</div>

<br/><br/><br/><br/><br/><br/><br/>
