<div class="container" style="margin-left:20%;">
  <h1 style="font-weight:bold">
    <%= t('custom.edit.title') %>
    <%= current_user.full_user_name %></h1>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <h3><%= f.label :first_name %></h3>
  <div class="input-group input-group-lg">
    <span class="input-group-addon" id="sizing-addon1"><%= f.label :first_name %></span>
    <%= f.text_field :first_name, autofocus: true, autocomplete: "First Name", class: "form-control", style: "width:595px; height:50px"%>
  </div><br/>

  <h3><%= f.label :last_name %></h3>
  <div class="input-group input-group-lg">
    <span class="input-group-addon" id="sizing-addon1"><%= f.label :last_name %></span>
    <%= f.text_field :last_name, autocomplete: "Last name", class: "form-control", style: "width:595px; height:50px"%>
  </div><br/>

  <h3><%= f.label :email %></h3>
  <div class="input-group input-group-lg">
    <span class="input-group-addon" id="sizing-addon1"><%= f.label :last_name %></span>
    <%= f.email_field :email, autocomplete: "email", class: "form-control", style: "width:595px; height:50px"%>
  </div><br/>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div><%= t('custom.edit.waiting') %>
      <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">

    <h3><%= f.label :password %><br/>
      <small>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %>
            <%= t('custom.edit.min') %>
            <i><%= t('custom.edit.no_blank') %></i>
          </em>
        </small>
      <% end %>
    </h3>

    <div class="input-group input-group-lg">
      <span class="input-group-addon" id="sizing-addon1"><%= t('custom.edit.password') %>
      </span>

      <%= f.password_field :password, autocomplete: "new-password",class: "form-control", style: "width:600px;height:50px" %>

    </div><br/>
  </div>

  <h3><%= f.label :password_confirmation %></h3>
  <div class="input-group input-group-lg">
    <span class="input-group-addon" id="sizing-addon1"><%= t('custom.edit.confirm_password') %></span>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", style: "width:535px; height:50px;"%>
  </div>

  <h3><%= f.label :current_password %>

    <br/>
    <small>
      <em>
        <i><%= t('custom.edit.current') %></i>
      </em>
    </small>

  </h3>
  <div class="input-group input-group-lg">
    <span class="input-group-addon" id="sizing-addon1"><%= t('custom.edit.current_password') %></span>
    <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control", style: "width:535px; height:50px;"%>
  </div>

  <div class="actions">
    <%= f.submit "Update", class: "btn btn-default login-button", style:"margin-left:50%"%>
  </div>

<% end %>

<h3><%= t('custom.edit.cancel_account') %></h3>

<%= button_to "Cancel account", registration_path(resource_name), style:"background-color:maroon;color:black;width:280px;",class:"btn btn-default login-button", data: { confirm: "Are you sure?" }, method: :delete %>

<%= link_to "Back", :back , class: "btn btn-default login-button"%>
</div>
