<h1 style="font-weight: bold;"><%= t('sign_up') %></h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>


  <h3><%= f.label :first_name %></h3>
  <div class="input-group input-group-lg">
  <span class="input-group-addon" id="sizing-addon1"><%= f.label :first_name %></span>
  <%= f.text_field :first_name, autofocus: true, autocomplete: t('first_name'), class: "form-control", style: "width:595px; height:50px"%>
  </div><br />

  <h3><%= f.label :last_name %></h3>
  <div class="input-group input-group-lg">
  <span class="input-group-addon" id="sizing-addon1"><%= f.label :last_name %></span>
  <%= f.text_field :last_name, autocomplete: t('last_name'), class: "form-control", style: "width:595px; height:50px"%>
  </div><br />

  <h3><%= f.label :email %></h3>
  <div class="input-group input-group-lg">
  <span class="input-group-addon" id="sizing-addon1"><%= f.label :last_name %></span>
  <%= f.email_field :email, autocomplete: t("email"), class: "form-control", style: "width:595px; height:50px"%>
  </div><br />


  <h3><%= f.label :password %>
  <small><% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> <%= t('custom.edit.min') %></em></small>
    <% end %>
    </h3>

  <div class="input-group input-group-lg">
  <span class="input-group-addon" id="sizing-addon1"><%= t('custom.edit.password') %></span>

    <%= f.password_field :password, autocomplete: "new-password",class: "form-control", style: "width:600px;height:50px" %>

  </div><br />

  <h3><%= f.label :password_confirmation %></h3>
  <div class="input-group input-group-lg">
  <span class="input-group-addon" id="sizing-addon1"><%= t('custom.edit.confirm_password') %></span>
  <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", style: "width:535px; height:50px;"%>
  </div>


  <div class="actions">
    <%= f.submit "Sign up", class: "btn btn-default login-button"%>
  </div>
<% end %>

<%= render "devise/shared/links" %>
