<% if(!@user.blank?) %>
  <div class="container" id="overall-friend-container">
    <div class="row">
      <div class="col-sm-4">
        <div id="user-profile-pic">
          <%= image_tag "profile.png"%>
        </div>
      </div>
      <div class="col-sm-8">
        <div id="user-data-styling">
          <h2 id="user-podcasts-main-title" class="text-center"><%= @user.full_user_name%></h2>
          <p class="text-center">Users says hello world</p>
          <div id="user-age">
            <div id="user-data" class="pull-left">
              <a ><%="Account is "+ (@user.account_creation_date.to_s)+" days old"%></a>
              <%if(@user.account_creation_date<5) %>
                <%= image_tag "new_egg.gif"%>
                <%elsif (@user.account_creation_date<8)%>
                  <%= image_tag "profile_nyan.gif"%>
                <%else%>
                  <%= image_tag "profile_groot.gif"%>
                <%end%>
              </div>

              <div id="follow-friend" class="pull-right">
                <% if (current_user.id==@user.id) %>
                <%= link_to "Edit your account",edit_user_registration_path(current_user), class:"btn btn-primary btn-lg text-center loading-available-button", id:"follow-friend-button", method: :get, style:"background-color:red;"%>
                <%else%>
                <% if !(current_user.user_already_friend(@user.id)) %>
                  <%= link_to "Befriend",friendships_path(user_id: @user.id), class:"btn btn-primary btn-lg text-center follow-friend-button loading-available-button",id:"follow-friend-button", method: :post, remote: true, data: { disable_with: "Please wait..." }%>
                <%else%>
                  <%= link_to "Unfriend",friendships_path(user_id: @user.id), class:"btn btn-primary btn-lg text-center unfollow-friend-button loading-available-button",id:"unfollow-friend-button", method: :delete,remote: true, data:{confirm: "Are you sure?"}%>
                <%end%>
                <%end%>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <h3 id="user-podcasts-main-title" style="font-size:40px"> Podcasts </h3>

    <div id="user-account-pod-display">
      <% if(@userPodcasts.size >0)%>
        <% @userPodcasts.size.times do |podIndex| %>

          <div>



            <%= link_to podcast_path(:itunes_id => @userPodcasts[podIndex]["itunes_id"]),  method: :get, remote: true, class:"loading-available-button" do %>
            <%= image_tag(@userPodcasts[podIndex]["image_url"], {:class => "home-container-image loading-available-button" }) %>
          <% end %>
        </div>
      <%end%>
    <%else %>
      <div>

        <h4>It looks like the user hasnt subscribed to any podcasts.</h4>

      </div>
      <% end %>

    </div>

  <%else%>

    <div class="flex-container-homepage-item ">
      <h4>Error finding the user profile.</h4>
      <p>Maybe the user deleted the profile?</p>
    </div>
  <%end%>
