<div class="sidebar-style">
	<div class="sidebar">
		<%= image_tag('logo.png', width:"80px", height:"80px", class:"pull-left",style:"padding-left:10px;") %>
		<h1 class="app-title">Podly</h1><br/>
		<ul>
			<li>
				<i class="glyphicon glyphicon-home"></i>
				<%= link_to "Home", app_path, method: :get%>
			</li>
			<li>
				<i class="glyphicon glyphicon-zoom-in"></i><%= link_to "Search Pods", app_search_path, method: :get %></li>
			<li>
				<i class="glyphicon glyphicon-thumbs-up"></i><%= link_to "Friends", app_friends_path, method: :get %></li>
			</li>
			<li>
				<i class="glyphicon glyphicon-flag"></i><%= link_to "Find Friends", app_findfriends_path, method: :get %></li>
			</li>
		</ul>
		<div class="user-name-side-style">
			<i class="glyphicon glyphicon-user" style="padding-top:5px;font-size:20px;"></i>
			<span ><%= link_to current_user.full_user_name.present? ? current_user.full_user_name : current_user.email, edit_user_registration_path(current_user), method: :get%></span>
		</div>
		<div class="logout-side-style">
			<%= link_to "Logout", destroy_user_session_path, method: :delete %>
		</div>

	</div>
	<div class="main_content">
		<div class="container" id="main-document-class">
			<%= render 'layouts/errorflash' %>
			<%= yield %>

		</div>
	</div>

</div>

<div class="main-bottom-navigation">
	<div class="bottom-nav-style" id="music-player-controls">
		<h3 class="text-center">Select a podcast to play an episode :)</h3>
	</div>

</div>
