<div class="sidebar-style">
	<div class="sidebar">
		<%= image_tag('logo.png', width:"80px", height:"80px", class:"pull-left",style:"padding-left:10px;") %>
		<h1 class="app-title">Podly</h1><br/>
		<ul>
			<li>
				<i class="glyphicon glyphicon-home"></i>
				<%= link_to "Home", app_path, method: :get, id: "podcast-lookup-form"%>
			</li>
			<li>
				<i class="glyphicon glyphicon-zoom-in"></i><%= link_to "Search", app_search_path, method: :get, id: "podcast-lookup-form" %></li>
			<li>
				<a href="#">PLaceholder</a>
			</li>
			<li>
				<a href="#">PLaceholder</a>
			</li>
			<li>
				<a href="#">PlaceHolder</a>
			</li>
		</ul>
		<div class="logout-side-style">
			<%= link_to "logout", destroy_user_session_path, method: :delete %>
		</div>

	</div>
	<div class="main_content">
		<div class="container" id="main-document-class">
			<%= render 'layouts/errorflash' %>
			<%= yield %>

		</div>
	</div>

</div>

<div class="main-bottom-navigation">
	<div class="bottom-nav-style" id="music-player-controls">
			<h3 class="text-center">Select a podcast to play an episode :)</h3>
	</div>

</div>
