<!DOCTYPE html>
<html>
  <head>
    <title>Podly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

    <%- if controller_name != 'podcastapp' %>
      <%= render 'layouts/navigation' %>
      <br/>
      <div class="container">
        <%= render 'layouts/errorflash' %>
        <%= yield %>
      </div>
      <%= render 'layouts/footer' %>
    <% else %>

        <div class="sidebar-style">
      	<div class="sidebar">
      		<%= image_tag('logo.png', width:"80px", height:"80px", class:"pull-left",style:"padding-left:10px;") %>
      		<h1 class="app-title">Podly</h1><br/>
      		<ul>
      			<li>
      				<i class="glyphicon glyphicon-home"></i>
      				<%= link_to "Home", app_path, id:"loading-available-button",class: "loading-available-button", method: :get, remote: true%>
      			</li>
      			<li>
      				<i class="glyphicon glyphicon-zoom-in"></i><%= link_to "Search Pods", app_search_path, id:"loading-available-button",class: "loading-available-button", method: :get, remote: true%></li>
      			<li>
      				<i class="glyphicon glyphicon-thumbs-up"></i><%= link_to "Friends", app_friends_path, id:"loading-available-button",class: "loading-available-button", method: :get, remote: true %></li>
      			</li>
      			<li>
      				<i class="glyphicon glyphicon-flag"></i><%= link_to "Find Friends", app_findfriends_path, id:"loading-available-button", class: "loading-available-button", method: :get, remote: true %></li>
      			</li>
      		</ul>
      		<div class="user-name-side-style">
      			<i class="glyphicon glyphicon-user" style="padding-top:5px;font-size:20px;"></i>
      			<span ><%= link_to current_user.full_user_name.present? ? current_user.full_user_name : current_user.email, user_profile_path(id:current_user.id), method: :get, remote: true, class:"loading-available-button"%></span>
      		</div>
      		<div class="logout-side-style">
      			<%= link_to "Logout", destroy_user_session_path, method: :delete %>
      		</div>

      	</div>
      	<div class="main_content">

      		<div class="container" id="main-document-class">
            	<%= render 'layouts/errorflash' %>
      			<%= yield %>

      		</div>
      	</div>

      </div>

      <div class="main-bottom-navigation">
      	<div class="bottom-nav-style" id="music-player-controls">
      		<h3 class="text-center">Select a podcast to play an episode :)</h3>
      	</div>

      </div>


    <% end %>
  </body>
</html>
